.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
  font-variation-settings: "width" 100;
}
/* nav style */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 200px;
}
.nav-title {
  font-weight: 800;
  font: size 45px;
}
/*shared style  */
.text-primary {
  color: #fd6e0a;
}
nav ul li {
  list-style: none;
  text-decoration: none;
  margin-right: 51px;
}
nav li a {
  text-decoration: none;
  font-size: 20px;
}
.dark-2 {
  color: #474747;
}
nav ul {
  display: flex;
  align-items: center;
}
.btn-primary {
  background-color: #fd6e0a;
  font-weight: bold;
  color: white;
  /* height: 64px; */
  /* width: 150px; */
  padding: 18px 35px;
  border-radius: 5px;
  font-size: 20px;
  border: none;
}
/* banner styles */

.banner {
  display: flex;
  justify-content: space-between;
  margin: 0 35px 0 200px;
}
.banner-greeting {
  font-size: 45px;
  font: weight 600px;
}
.banner-title {
  font-weight: bold;
  font-size: 85px;
}
.banner-profilr-pic {
  width: 580px;
}
.banner-content {
  max-width: 580px;
}
.header {
  background-image: url(/images/developer.png), url(/images/header_bg.png);
  background-repeat: no-repeat;
  background-position:
    top left,
    bottom right;
}
.section-title {
  font-size: 35px;
  font-weight: bold;
  color: black;
}
.section-description {
  font-size: 18px;
  color: #757575;
  margin: 50px;
}
.secondary-bg {
  background-color: #fff8f3;
}
/* about style */
.about {
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
  margin-top: 130px;
}
main {
  max-width: 1140px;
  margin: 0 auto;
}
.item-description {
  font-weight: 600;
}
.about-items {
  display: flex;
  justify-content: space-around;
}
.text-center {
  text-align: center;
}
.skills-container {
  display: flex;
  gap: 24px;
}
.skill {
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);

  background-color: #ffffff;
}
main section {
  margin-top: 130px;
  margin-bottom: 130px;
}
.resume-container {
  display: flex;
  gap: 24px;
}
.experience-description,
.experience-sub-title {
  color: #757575;
}
.experience-sub-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.resume hr {
  margin: 30px 5px;
}
.btn-ptymart {
  margin-top: 50px;
  background-color: #fd6e0a;
  color: #ffffff;
  height: 64px;
  width: 200px;
  border: 0px;
  border-radius: 5px;
  font-weight: bolder;
  font-size: 20px;
}
footer {
  padding: 130px 230px;
  display: flex;
  gap: 100px;
}
footer-column {
  width: 50%;
}
footer input[type="text"], footer [ type="email"], footer textarea{
  height: 64px;
  border-radius: 5px;
  background-color: aliceblue;
  display: block;
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 24px;
  border: none;
}
